* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: auto auto;
    border: 5px solid green;
}

.sidebar {
    background-color: lightblue;
    height: 100%;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr ;
    row-gap: 20px;

    border: 5px solid pink;
}

.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    border: 5px solid red;
}


.search {
    border: 1px solid #000;

    display: flex;
    gap: 10px;
}

.action {
    display: flex;
    justify-content: space-between;
}

.search > .bar {
    flex: 1;
    border: 2px solid brown;
}

.profile {
    display: flex;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 1fr;

    border: 3px solid yellow;
}

.announcements {
    border: 3px solid lightcoral;
}

.trending {
    grid-column: 2 / -1;

    border: 3px solid blue;
}


/* Border to see the content better */
.logo,
.options,
.settings {
    border: 1px solid #000;
}

.settings {
    border: 5px solid blue;
}